body {
    margin: 0;
    font-family: "Lucida Grande",
        "Lucida Sans Unicode",
        Helvetica,
        Arial,
        Verdana,
        sans-serif;
}

/* Main background image positioning starts here */
.verse-section {
    width: 100%;
    height: 88%;
    background-image: url(images/verse-hero.jpg);
    background-repeat: no-repeat;
    background-size: 1440px 1315px;
    background-position: center bottom;
}

/* ends here */

/* Navbar */

nav {
    display: flex;
    justify-content: center;
}

.navbar-ul {
    display: flex;
    justify-content: space-between;
    width: 980px;
    height: 32px;
    margin-top: 85px;
    list-style-type: none;
}

.navbar-li {
    display: flex;
    justify-content: center;
    align-items: center;
    border-right: 1px solid black;
    background-color: gray;
    width: 100%;
    height: 100%;
}

.nav-links {
    text-decoration: none;
    color: white;
    font-size: 12px;
}